$gray: #e0e0e0;
$black: #343a41;

html,
body,
#root {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

* {
  box-sizing: border-box;
}

#root {
  main {
    width: 100%;
    height: 100%;
    padding: 10px;

    .time-table {
      width: 100%;
      height: 100%;
      // border: 2px solid $gray;

      .axis {
        font-family: arial;
        font-size: 14px;
      }
    }
  }
}
